[general]
query = "{{prefix queryNode 'query'}}"

[store]
[store.primary]
connection = "postgresql://${postgres_user}:${postgres_pass}@${postgres_host}/${postgres_db}"
pool_size = 10

[chains]
ingestor = "{{prefix defaultIndexedNode}}"
{{#each indexedNodes as | indexedNode |}}
[chains.{{indexedNode.name}}]
shard = "primary"
provider = [
    {{#each indexedNode.nodes as | node |}}
    { label = "{{indexedNode.name}}-{{@index}}", url = "{{node.rpc}}", features = {{#if node.features}}{{{jsonStringify node.features}}}{{else}}[]{{/if}} },
    {{/each}}
]
{{/each}}

[deployment]
{{#each indexedNodes as | indexedNode |}}
[[deployment.rule]]
match = { network = "{{indexedNode.name}}" }
indexers = ["{{prefix indexedNode.name}}"]
{{/each}}
[[deployment.rule]]
indexers = ["{{prefix defaultIndexedNode}}"]
